.social-box{
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 2s;
    &__item{
      margin-right: 50px;
        &:last-child{
          margin-right: 0;
        }
    }
}

.icon{
  transition: all 0.7s;
  &:hover{
      rect{
        fill: white;
        stroke: #3B181E;
        transition: fill 0.7s;
        transition: stroke 0.7s;
      }
      circle,path{
        fill: #3B181E;
        transition:all 0.7s;
      }
  }
    &-wa{
      &:hover{
        stroke:white;
        path:last-child{
          stroke: black;
          fill: white;
        }
      }
    }
}
